{
  "extends": [
    "react-app",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "react/jsx-max-props-per-line": [2, {"maximum": 1, "when": "always" }] 
  },
  "plugins": [
    "prettier"
  ]
}