@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  font-family: "Hahmlet", serif;
  background-color: #444444;
}

@layer components {
  .input {
    outline: none;
    background-color: #444444;
    border-bottom: 4px solid black;
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.6rem;
  }

  .label {
    color: #da0037;
    font-weight: bold;
  }

  .white {
    color: white;
    font-size: 1.6rem;
  }
}
