@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  /* font-family: "Hahmlet", serif; */
  background-color: #F1E8F3;
}

@layer components {
  .input {
    outline: none;
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.6rem;
  }

  .label {
    color: #da0037;
    font-weight: bold;
  }

  .white {
    color: white;
    font-size: 1.6rem;
  }
}
